* {
  /* Margem*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: #a1a1a1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}

.NavSuperior {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 124px;
}

li:hover {

  cursor: pointer;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;

}

.NavLateral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  /* Posicionamento absoluto */
  left: 0;
  /* Colado na lateral esquerda */
  top: 50%;
  /* Centralizado verticalmente */
  transform: translateY(-50%);
  /* Ajuste para centralização vertical */
  margin-left: 10px;
  /* Espaçamento à esquerda para não ficar exatamente colado na borda */
}

.NavLateral a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;

}


.NavLateral a:hover {
  opacity: 0.7;
  background-color: rgba(54, 51, 51, 0.2);
  padding: 5px;
}


a:visited {
  color: rgb(224, 16, 16);
}

li a {
  text-decoration: none;

}

p{
  text-align: center;
  font-size: 22px;
  padding-top: 32px;
}

p:hover{
box-shadow:color pink;
cursor: pointer;
}

img:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

img {

 
  /* Para garantir que a imagem não exceda a largura da tela */


  cursor: pointer;
  transition: 0.35s;
  overflow: auto;
}

.imagem_1 { /* Imagem pacote com 1 unidade*/
  width: 195px;
  height: 187px;
  margin-top: 78px;

  align-items: center;

  border-top: solid 2px white;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  /* faz uma borda em torno da imagem
     border  */

  border-radius: 10px;
  /* faz um círculo
    border-radius: 100%;  */

}

.imagem_2 {/* Imagem pacote com 2 unidades*/
  width: 195px;
  height: 190px;

  align-items: center;

  border-top: solid 2px white;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  /* faz uma borda em torno da imagem
     border  */

  border-radius: 10px;
  /* faz um círculo
    border-radius: 100%;  */

}

.imagem_3 { /* Imagem pacote com 3 unidades*/
  width: 195px;
  height: 170px;

  align-items: center;

  border-top: solid 2px white;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  /* faz uma borda em torno da imagem
     border  */

  border-radius: 10px;
  /* faz um círculo
    border-radius: 100%;  */

}

.imagem_9 {/* Imagem pacote com 9 unidades*/
  width: 195px;
  height: 180px;

  align-items: center;

  border-top: solid 2px white;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  /* faz uma borda em torno da imagem
     border  */

  border-radius: 10px;
  /* faz um círculo
    border-radius: 100%;  */

}

.imagem_12 { /* Imagem pacote com 12 unidades*/
  width: 195px;
  height: 180px;

  align-items: center;

  border-top: solid 2px white;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  /* faz uma borda em torno da imagem
     border  */

  border-radius: 10px;
  /* faz um círculo
    border-radius: 100%;  */

}

.container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.botao {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-top: solid 2px white;
  border-right: solid 10px white;
  border-bottom: solid 2px white;
  border-left: solid 10px white;
  width: 50px;

  border-radius: 10px;
  margin-left: 70px;
  margin-bottom: 30px;

  box-shadow: 1px 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.botao:active {
  transform: scale(1.2);
}

.botao {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

/*
.bg-logo {
  position: absolute;
  z-index: 1;
  width: 30%; /* Diminuir para 90% da largura original --/
}*/