/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corpo */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url('Fruits.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* barra de navegação superior */
NavSuperior {
    background-color: #747171;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

NavSuperior nav ul {
    list-style: none;
}

NavSuperior nav ul li {
    display: inline;
    margin: 0 10px;
}

NavSuperior nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* cabeçalho principal */
h1 {
    font-size: 28px;
    margin: 20px 0;
    text-align: center;
}

/* conteúdo do parágrafo */
p {
    font-size: 16px;
    margin: 0 20px;
    text-align: justify;
}

/* imagens do cabeçalho e carrinho */
.NavSuperior nav ul li:last-child img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}