html {
    background-color: #a09a9c;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('Fruits.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.NavSuperior {
    /* Header */
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 124px;
}

li a {
    text-decoration: none;
}

button {
    background-color: white;
    color: rgb(3, 3, 3);
    border: 2px solid #4CAF50;
    font-size: 16px;
    border-radius: 4px;
}

.Conteudo {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 45vw;
}

h1 {
    font-weight: lighter;
    font-size: 36px;
    margin: 48px 0;
    text-align: center;
    color: rgb(87, 85, 85);
}

p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0 25vw;
    width: 468px;
    text-align: center;
    align-content: center;
    color: rgb(22, 22, 22);
}

/* Posicionando o logo no centro */
.NavSuperior li a img[alt="Logo"] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Posicionando o carrinho no canto direito */
.NavSuperior li a img[alt="Carrinho"] {
    position: absolute;
    right: 0;
}

.NavLateral {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.NavLateral a {
    text-decoration: none;
    color: rgb(97, 95, 95);
    margin-bottom: 10px;
    cursor: pointer;
}

footer {
    width: 100%;
}

.footer-link {
    text-decoration: none;
}

#footer-content {
    background-color: #6b6969;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contato h1 {
    margin-top: 0.75rem;
    font-size: 26px;
    text-align: start;
    color: #fdf7f7;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fdf7f7;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

#whatsapp {
    background-color: #25d366;
}

#facebook {
    background-color: #4267b3;
}

@media screen and (max-width: 768px) {
    #footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 426px) {
    #footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    @media screen and (min-width: 426px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
            padding: 3rem 2rem;
        }
    }
}