html {
    background-color: #a09a9c;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('Fruits.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.NavSuperior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li a {
    text-decoration: none;
    
}

.Conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 45vw;
}
h1 {
    font-size: 36px;
    margin: 30px 0;
    text-align: center;
}
p {
    font-size: 1rem;
    margin: 0 5vw;
    text-align: justify;
}